
.site-header .title {
	margin-bottom: 16px;
}

.iu-logo {
	max-height: 52px;
}

.theme-header {
	background-color: #7A1705;
}

.theme-header h1 {
	color: white;
	font-family: BentonSansCondRegular,Arial,serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 52px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	display: inline-block;
}
.theme-footer {
	font-family: BentonSansRegular, Arial, serif;
	font-weight: normal;
	border-top: 6px solid #7A1705;
	padding: 32px 15px 24px;
}
.theme-footer .signature-link {

	background: url("https://assets.iu.edu/brand/3.x/iu-sig-formal.svg") no-repeat left top;
	background-size: contain;
	display: inline-block;
	height: 0;
	padding-top: 36px;
	overflow: hidden;
	width: 240px;
	float: left;
}
.theme-footer .copyright {
	float: right;
}

.theme-footer a {
	color: #990000;
}
